*,
:before,
:after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
select,
button,
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
}

ul,
ol,
form {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

input,
button {
    font-size: 16px;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 7px;
    -webkit-background-clip: padding-box;
}

input {
    color: #000;
}
/* slate */

a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

a:hover {
    border-bottom: 1px dotted #aaa;
}

#result {
    width: 360px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 0px 10px rgba(50, 50, 51, 1);
    -moz-box-shadow: 0px 0px 0px 10px rgba(50, 50, 51, 1);
    box-shadow: 0px 0px 0px 10px rgba(50, 50, 51, 1);
}

body {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    color: #dedede;
    font-family: 'Terminal Dosis', sans-serif;
    width: 100%;
    height: 100%;
    background: #414141;
}

.site__logo {
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

hr {
    border: none;
    height: 1px;
    width: 430px;
    margin: 5px auto;
    background-image: -webkit-linear-gradient(left, #414141, #f0f0f0, #414141);
    background-image: -moz-linear-gradient(left, #414141, #f0f0f0, #414141);
    background-image: -ms-linear-gradient(left, #414141, #f0f0f0, #414141);
    background-image: -o-linear-gradient(left, #414141, #f0f0f0, #414141);
}

small {
    letter-spacing: 1px;
}

.site__title {
    font-size: 64px;
    text-shadow: 0 8px 6px #000;
}

.site__content {
    width: 720px;
    margin: 9px auto 0;
    height: 480px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0) 70%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0) 70%);
    background: -o-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0) 70%);
    background: radial-gradient(center, ellipse cover, rgba(150, 150, 150, 0.5) 0%, rgba(150, 150, 150, 0) 70%);
}

footer {
    text-align: center;
}

.slate__config {
    width: 360px;
    float: left;
}

.slate__preview {
    width: 360px;
    float: right;
    border-radius: 5px;
}

.slate__preview img {
    border-radius: 10px;
}

.slate__config label {
    display: inline-block;
    width: 85px;
    font-size: 16px;
    text-shadow: 0 2px 6px #000;
}

.slate__config li {
    margin-bottom: 26px;
}

.slate__config ul {
    white-space: nowrap;
}

.slate__config .delay,
.slate__config .font-height {
    width: 70px;
    text-align: right;
}

.share-box {
    margin-top: 10px;
}

.url-btn,
.share-btn,
.dropdown {
    color: #232323;
    padding: 8px 15px;
    border-radius: 5px;
}

.dropdown {
    padding: 6px 15px;
}

.url-btn,
.share-btn {
    cursor: pointer;
    display: block;
    background: #dedede;
    color: #232323;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.dropdown {
    background-image: url('../img/down_arrow.png');
    background-image: url('../img/down_arrow.svg?3'), none;
    background-repeat: no-repeat;
    background-size: 25px 20px;
    background-position: right center;
    background-color: #fff;
}

.share-btn {
    display: inline-block;
    width: 46px;
}

.url-btn:hover,
.share-btn:hover {
    background-color: #fff;
}

.url-btn:active,
.share-btn:active {
    background-color: #aaa;
}

.url {
    width: 310px;
    margin: 0 0 8px;
    font-weight: bold;
}

.hideshare-wrap {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.hideshare-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.hideshare-list li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 2px 3px;
}

.hideshare-wrap span {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.long {
    width: 225px;
}

.footer__note {
    color: #aaa;
}

.star {
    margin-top: -50px;
    position: absolute;
    right: 0;
}

/**
 * Thanks to @tobiasahlin
 * for http://tobiasahlin.com/spinkit/
 */

.spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #666666;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
