*,
:before,
:after {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
select,
button,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
}

ul,
ol,
form {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

input {
    font-size: 16px;
    border: 1px solid #777;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    -webkit-background-clip: padding-box;
}


/* slate */
a {
    text-decoration: none;
    cursor: pointer;
    color: #78CEC5;
}

#result {
    width: 400px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

body {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    color: #222;
    font-family: 'Tangerine';
    width: 100%;
    height: 100%;
    /*background: #8A9199;*/
}

.site__logo {
    color: #78CEC5;
    cursor: default;
    text-align: center;
}

.generate:hover {
    cursor: pointer;
    background-color: #eee;
}

.site__content {
    width: 800px;
    margin: 100px auto 0;
}


.text-box__button:active {
    background-color: #ddd;
}

.slate__config {
    width: 400px;
    float: left;
}

.slate__preview {
    width: 400px;
    height: 415px;
    float: right;
    border-radius: 5px;
}

.slate__config ul{
    margin-top: 50px;
}

.slate__preview img {
    border-radius: 10px;
}

.slate__config label {
    display: inline-block;
    width: 112px;
}

.slate__config li {
    margin-bottom: 5px;
}

.slate__config ul {
    white-space: nowrap;
}

.slate__config .delay,
.slate__config .height {
    width: 70px;
    text-align: right;
}